@model Tochka.Areas.Hr.Data.Vacancy

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<h4>Vacancy</h4>

<div class="toolbar">
    <a asp-area="Hr" asp-controller="Vacancies" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
    <a asp-area="Hr" asp-controller="Vacancies" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
</div>

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Annotation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Annotation)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>
        </dl>

        <div>
            <a asp-area="Hr" asp-controller="Vacancies" asp-action="Index" class="btn btn-default">Back to List</a>
        </div>
    </div>
</div>
