@model Dictionary<string, IEnumerable<Tochka.Models.MenuItem>>

<div class="section">
    <div class="row">
        @foreach (var item in Model)
        {
            foreach (var subitem in item.Value)
            {
                <div class="col-md-4">
                    <div  class="card card-body view overlay hm-black-slight">
                        <h4 class="card-title">@subitem.Name</h4>
                        <a asp-area="@subitem.Area" asp-controller="@subitem.Controller" asp-action="@subitem.Action" class="mask" title="@subitem.Name"></a>
                    </div>
                </div>
            }
        }
    </div>
</div>
