@model ItemViewModel

@{
    ViewData["Title"] = "Вакансия";
}

<h2>@ViewData["Title"]</h2>

<div class="section">
    <a asp-area="Hr" asp-controller="Vacancy" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Редактировать</a>
    <a asp-area="Hr" asp-controller="Vacancy" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" data-confirm="Вы действительно хотите удалить?">Удалить</a>
</div>

<div class="section">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NamesOfCities)
        </dt>
        <dd>
            @String.Join(", ", Model.NamesOfCities)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Annotation)
        </dt>
        <dd>
            <markdown value="@Model.Annotation" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            <markdown value="@Model.Text" />
        </dd>
    </dl>
</div>

<div class="section">
    <a asp-area="Hr" asp-controller="Vacancy" asp-action="Index" class="btn btn-default">Вернуться к списку</a>
</div>
