@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Пользователи";
}

<h2>Пользователи</h2>

<div class="section">
    <a asp-area="Accounts" asp-controller="User" asp-action="Create" class="btn btn-primary">Создать</a>
</div>

<div class="section">
    <table class="table table-bordered table-responsive table-datatable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-area="Accounts" asp-controller="User" asp-action="Details" asp-route-id="@item.Id" title="Просмотреть">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a asp-area="Accounts" asp-controller="User" asp-action="Edit" asp-route-id="@item.Id" title="Редактировать">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a asp-area="Accounts" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" title="Удалить" data-confirm="Вы действительно хотите удалить?">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section StyleSheet {
    @{Html.RenderPartial("_DataTableStyleSheetPartial");}
}

@section Scripts {
    @{Html.RenderPartial("_DataTableScriptsPartial");}
}
