@model Dictionary<string, IEnumerable<Tochka.Models.MenuItem>>

@foreach (var item in Model)
{
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-chevron-right"></i> @item.Key<i class="fa fa-angle-down rotate-icon"></i></a>
                <div class="collapsible-body">
                    @foreach (var subitem in item.Value)
                    {
                        <ul>
                            <li><a asp-area="@subitem.Area" asp-controller="@subitem.Controller" asp-action="@subitem.Action" class="waves-effect">@subitem.Name</a></li>
                        </ul>
                    }
                </div>
            </li>
        </ul>
    </li>
}
